body {
    margin: None;
    padding: None
}
main {
    padding: 16px
}
footer {
    padding: 24px, 0px, 24px
}
img {
    height: 200px
}
nav {
    padding: 16px;
    border-bottom: 1px black;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none
}
